

URxvt.termName: rxvt-unicode
URxvt.scrollBar: false
URxvt.saveLines: 50000
URxvt.background: black
URxvt.foreground: white
!URxvt.font: xft:Terminus:pixelsize=13
URxvt.font: xft:Inconsolata:pixelsize=13:antialias=true

URxvt.cursorBlink: true
URxvt.transparent: true
URxvt.shading: 65
URxvt.internalBorder:  5
!URxvt.perl-ext-common: default,tabbed
!URxvt.tabbed.tabbar-fg: white
!URxvt.tabbed.tabbar-bg: 4
!URxvt.tabbed.tab-fg: 15
!URxvt.tabbed.tab-bg: 8



! xscreensaver ---------------------------------------------------------------
!font settings
!xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
!xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
!xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
!xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
!xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
!xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
!xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*

!!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff

!!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2

!!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8

!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y


!black
*color0: #000000
*color8: #333333
!red
*color1: #ff5353
*color9: #e76c6c
!green
*color2: #09c600
*color10: #6cc667
!brown/yellow
*color3: #ffc000
*color11: #ffdb6f
!blue
*color4: #29acff
*color12: #87d0ff
!magenta
*color5: #ff71f0
*color13: #fe84ff
!cyan
*color6: #00c7c9
*color14: #46f9fb
!white
*color7: #ffffff
*color15: #b5b0ad
!
! Normal
! color0    black
! color1    red
! color2    green
! color3    yellow
! color4    blue
! color5    purple
! color6    cyan
! color7    white

! Light
! color8    black
! color9    red
! color10    green
! color11    yellow
! color12    blue
! color13    purple
! color14    cyan
! color15    white
